* {
    border-radius: 3px;
}

window {
    font-size: 16px;
    font-family: "Noto Sans Khmer Black";
    color: black;
}


#entry{
    padding: 0.25em;
}

#input{
    color: white;
    padding: 0.25em;

}
